.science-page .css-1weg7h6 { position: relative; height: 100%; grid-column: span 12; }
@media screen and (min-width: 960px) {.science-page .css-1weg7h6 { grid-column: 1 / span 5; }}
@container (max-width: 960px) {.science-page .css-1weg7h6 { grid-column: 1 / span 6; }}