.css-1e370u8 { text-align: center; color: var(--timeline-colors-blackAlpha-700); display: flex; flex-direction: column; gap: var(--timeline-space-4xs); text-wrap: balance; }
@media screen and (min-width: 0em) and (max-width: 767.98px) {
  .css-1e370u8 { font-family: var(--timeline-fonts-sans); font-size: var(--timeline-fontSizes-2xs); font-weight: var(--timeline-fontWeights-normal); line-height: 150%; letter-spacing: var(--timeline-letterSpacings-widest); font-variant-numeric: slashed-zero; }
}
@media screen and (min-width: 768px) {
  .css-1e370u8 { font-family: var(--timeline-fonts-sans); font-size: var(--timeline-fontSizes-xs); font-weight: var(--timeline-fontWeights-normal); line-height: 150%; letter-spacing: var(--timeline-letterSpacings-widest); }
}
@media screen and (min-width: 768px) {
}