.css-ofjvn9 { position: relative; display: flex; flex-direction: column; -webkit-box-pack: start; justify-content: flex-start; }
.css-ofjvn9 a[href]:not(.chakra-linkbox__overlay), .css-ofjvn9 abbr[title] { position: relative; z-index: 1; }
.css-ofjvn9:hover svg { transform: rotate(0deg); }