.css-4apav0 { width: auto; height: 28px; line-height: 1em; flex-shrink: 0; color: var(--timeline-colors-red-300); vertical-align: middle; fill: none; display: block; }
@media screen and (min-width: 960px) {
  .css-4apav0 { display: none; }
}