.css-14ganz1 { width: 115px; height: var(--timeline-sizes-2xs); display: inline-block; line-height: 1em; flex-shrink: 0; color: currentcolor; vertical-align: -1px; fill: none; }
@media screen and (min-width: 960px) {
  .css-14ganz1 { width: 143px; height: var(--timeline-sizes-xs); }
}