.product-page-2 .css-1yk8gk5 { grid-column: span 7; width: 100%; padding-right: var(--timeline-space-lg); display: none; }
@media screen and (min-width: 960px) {.product-page-2 .css-1yk8gk5 { display: block; }}
@media screen and (min-width: 1200px) {.product-page-2 .css-1yk8gk5 { grid-column: span 8; }}