.product-page-2 .css-1xwtsx5 { position: relative; height: 100%; grid-column: span 12; }
@media screen and (min-width: 960px) {.product-page-2 .css-1xwtsx5 { grid-column: 8 / span 4; }}
@container (max-width: 960px) {.product-page-2 .css-1xwtsx5 { grid-column: 8 / span 5; }}