:root { --swiper-theme-color: #007aff; }
.product-page-2 :host { z-index: 1; margin-left: auto; margin-right: auto; display: block; position: relative; }
.product-page-2 .swiper { margin-left: auto; margin-right: auto; padding: 0px; list-style: none; display: block; position: relative; }
.product-page-2 .swiper-wrapper { z-index: 1; width: 100%; height: 100%; transition-property: transform; transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial); box-sizing: content-box; position: relative; }
.product-page-2 .swiper-wrapper { transform: translate(0px, 0px); }
.product-page-2 .swiper-horizontal { touch-action: pan-y; }
.product-page-2 .swiper-slide { flex-shrink: 0; transition-property: transform; display: block; position: relative; }
.product-page-2 .swiper-backface-hidden .swiper-slide { backface-visibility: hidden; transform: translateZ(0px); }
@keyframes swiper-preloader-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}